.div {
  display: flex;
}

.amount {
  width: 35px;

  text-align: center;
  font-size: 18px;
  border-radius: 0;
  border: 1px solid var(--secondary);
}

.button {
  padding: 0;
  height: 30px;
  width: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 0;
}

.button:focus-visible {
  border-color: var(--accent);
  outline: none;
}

.button:focus {
  outline: none;
}

.left {
  composes: button;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.right {
  composes: button;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
