.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;

  background-color: var(--primary);
}

.logo {
  font-family: var(--logo-font);
  font-size: 32px;
  font-weight: bold;
  color: var(--text);
}

.links {
  margin: 0;
  padding: 0;
  flex: 1;

  display: flex;
  gap: 10px;
  list-style: none;
}

.link {
  color: var(--text);
}

/* .basket; */
